---
layout: default_index
styles: [article-list.css]
---

{% for post in paginator.posts %}
<div class="article">
   <article>
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>

        {% if site.comments == true and post.comments == true and site.disqus != '' %}
          <div class="author">
            <span class="ds-thread-count" data-thread-key="{{ post.id }}" data-count-type="comments"></span>
                      <!-- 多说js(文章评论数)加载开始，一个页面只需要加载一次 -->
                      <script type="text/javascript">
                      var duoshuoQuery = {short_name:"nephen"};
                      (function() {
                          var ds = document.createElement('script');
                          ds.type = 'text/javascript';ds.async = true;
                          ds.src = 'http://static.duoshuo.com/embed.js';
                          ds.charset = 'UTF-8';
                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                      })();
                      </script>
                      <!-- 多说js加载结束，一个页面只需要加载一次 -->
            <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread">Comments</a></div>
        {% endif %}
        <br>

        <div class="content">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </div></br>
        <a class="readmore" href="{{ site.baseurl}}{{ post.url }}">Read More +</a>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
  </article>
</div>