---
layout: default_index
styles: [article-list.css]
---

{% for post in paginator.posts %}
<div class="article">
   <article>
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>

        {% if site.comments == true and post.comments == true and site.disqus != '' %}
          <div class="author">
            <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread" id="uyan_count_unit" du="" su="">Comments</a>
          </div>
        {% endif %}
        <br>

        <div class="content">
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        </div></br>
        <a class="readmore" href="{{ site.baseurl}}{{ post.url }}">Read More +</a>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
  </article>
</div>
