{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="well col-md-9">
            {{ content }}
        </div>
    </div>
</div>

<!--百度推送-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

<script>
$(document).ready(function() {
calb();
});

function calb()
{
//起始日期
y2=2015;
m2=9;
d2=5;

var myDate = new Date();
y3=myDate.getFullYear();    //获取完整的年份(4位,1970-????)
m3=myDate.getMonth()+1;       //获取当前月份(0-11,0代表1月)
d3=myDate.getDate();        //获取当前日(1-31)

day2=new Date(y2,m2-1,d2);
day3=new Date(y3,m3-1,d3);

document.getElementById("result2").innerHTML=(day3-day2)/86400000;
document.getElementById("result3").innerHTML=(day3-day2)/86400000 - 147;
document.getElementById("result4").innerHTML=195 - (day3-day2)/86400000;
document.getElementById("result5").innerHTML=258 - (day3-day2)/86400000;
}
</script>

<!-- 代码部分begin -->
<div class="QQ_S fix">
  <div class="Q_botm">
    <div class="Q_pic">
      <div class="Q_pic_hide"> <a href="http://wpa.qq.com/msgrd?v=3&uin=995168694&site=qq&menu=yes" target="_blank" title="点击这里给我发消息" rel="nofollow"><span class="hide_pic"></span>QQ交谈 </a> </div>
    </div>
    <div class="Q_anser">
      <div class="Q_anser_hide"> <a href="{{ site.baseurl }}/arrange/message.html" title="点击这里给我留言"><span class="hide_pic1"></span>提交有问必答 </a> </div>
    </div>
    <div class="Q_sign">
      <div class="Q_sign_hide" onclick="backToTop2();"><a href="javascript:void(0)" title="返回顶部"><span class="hide_pic2"></span>返回顶部 </a></div>
    </div>
  </div>
</div>
<!-- 代码部分end -->

{% include footer.html %}
