{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>

<!-- 代码部分begin -->
<div class="QQ_S">
  <div class="Q_top" onclick="HideFoot()"> <span class="signi"></span>收起</div>
  <div class="Q_botm">
    <div class="Q_pic">
      <div class="Q_pic_hide"> <a href="http://wpa.qq.com/msgrd?v=3&uin=995168694&site=qq&menu=yes" target="_blank" title="QQ交谈" rel="nofollow"><span class="hide_pic"></span>QQ交谈 </a> </div>
    </div>
    <div class="Q_anser">
      <div class="Q_anser_hide"> <a href="{{ site.baseurl }}/message.html" title="提交有问必答"><span class="hide_pic1"></span>提交有问必答 </a> </div>
    </div>
    <div class="Q_sign">
      <div class="Q_sign_hide" onclick="backToTop();"><a href="javascript:void(0)" title="返回顶部"><span class="hide_pic2"></span>返回顶部 </a></div>
    </div>
  </div>
</div>
<div class="QQ_S1">
  <div class="Q_top1" onclick="ShowFoot()"> <span class="signj"></span>展开</div>
  <div class="Q_botm1">
    <div class="Q_pic1">
      <div class="Q_pic1_hide"> <a href="http://wpa.qq.com/msgrd?v=3&uin=995168694&site=qq&menu=yes" rel="nofollow"><span class="hide_pic3"></span>QQ交谈</a></div>
    </div>
    <div class="Q_sign1">
      <div class="Q_sign1_hide" onclick="backToTop();"><a href="javascript:void(0)">返回顶部</a></div>
    </div>
  </div>
</div>
<script src="{{ site.baseurl }}/js/lanrenzhijia.js"></script>
<!-- 代码部分end -->

    </div>
</div>

<!--百度推送-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

{% include footer.html %}
