{% include header.html %}

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
        <div class="col-md-9">
            {{ content }}
        </div>
    </div>
</div>

<!--百度推送-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>

{% include footer.html %}
