{% include header.html %}

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js">
</script>

<div class="container container-left">
    <div class="row">
        <div class="col-md-3 hidden-xs">
            {% include sidebar.html %}
        </div>
     
        {% if page.passwd ==   true %}
        <script>
        function password() {
        var testV = 1;

        var forMd5 = prompt('请输入该文章的访问密码:','');

        while (testV < 3) {
        if (forMd5 == null) 
        history.go(-1);
       
        var pass1 = hex_md5(forMd5);
        if (pass1 == "30ba2a747566acbae8090c05ee5bd1fa") {
        alert('密码正确,点击回车进入...');
        break;
        }

        testV+=1;
        var pass1 = prompt('密码错误!请重新输入:');
        }

        if (pass1!="password" & testV ==3)
        history.go(-1);

        return "";
        }
        document.write(password());
        </script>
        {% endif %}
        <div class="col-md-9">
        <!-- j滚动字幕start -->
        <div class="marquee">            
            <marquee  scrollAmount="3" direction="left" onMouseOver="this.stop() " onMouseOut="this.start()" behavior="alternate">
            <span style="color:red;">通知：</span>如果你对本站无人机文章不熟悉，建议查看<a href="/arrange/drones">无人机学习概览</a>！！！
            </marquee>    
        </div>        
        <!-- j滚动字幕end -->
          <div class="article">
            <div class="well">
            <center><big><h1 class="post-title" itemprop="name headline"><a href="{{ site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1></big></center>

            <center>
                <small><p class="post-lavender">
                        最后修改于{% if page.update !=  %}{{ page.update }}{% else %}{{ page.date | date: "%b %-d, %Y" }}{% endif %}
                    {% if page.author %} • 
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }} 作
                        </span>
                    </span> •
                    <span id="busuanzi_value_page_pv"><i class="fa fa-spinner fa-spin"></i></span> Hits

                    • {% if site.comments == true and page.comments == true and site.disqus != '' %}              
                    <span class="ds-thread-count author" data-thread-key="{{ page.id }}" data-count-type="comments"></span>
                        <!-- 多说js(文章评论数)加载开始，一个页面只需要加载一次 -->
                        <script type="text/javascript">
                        var duoshuoQuery = {short_name:"nephen"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = 'http://static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                        </script>
                        <!-- 多说js加载结束，一个页面只需要加载一次 -->
                    <a class="author" href="#disqus_thread" >条评论</a>
                    {% endif %}

                    {% endif %}

                </p></small>
            </center>

            <br>

            <div class="post-content post">
                <section id="main">
                    <div id="renderIn"></div>
                        <div>
                          <section>
                            {{ content }}
                          </section>
                        </div>
                </section>
            </div>
            </div>
          </div>

        <div id="disqus_thread" class="target">
        {% if site.donate == true and page.donate == true %}
        <h4>您的鼓励是作者写作最大的动力</h4>
        <p>如果您认为本文章质量不错，读后觉得收获很大，预期工资涨幅能超过30%，不妨小额赞助我一下，让我有动力继续写出高质量的文章：</p>
        <p><a href="{{ site.baseurl }}/about#donate" class="uk-button uk-button-primary">￥我要小额赞助</a></p>
        {% endif %}
        </div>

          <div class="pagination">
              {% if page.next %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.next.url }}" class="next">下一篇：{{ page.next.title }}</a>
              {% endif %}
              {% if page.previous %}
                <a class="btn btn-default" href="{{ site.baseurl}}{{ page.previous.url }}" class="previous">上一篇：{{ page.previous.title }}</a>
              {% endif %}
          </div>

        {% include uyan_disqus.html %}

        </div>
    </div>

    <div style="display:none;" id="rocket-to-top">
    <div style="opacity:0;display:block;" class="level-2"></div>
    <div class="level-3"></div>
    </div>

</div>

<!--百度推送-->
<script>
(function(){
    var bp = document.createElement('script');
    bp.src = '//push.zhanzhang.baidu.com/push.js';
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


{% if page.editpage == true %}
<!-- 代码部分begin -->
<div class="QQ_S fix">
  <div class="Q_botm">
    <div class="Q_anser">
      <div class="Q_anser_hide"> <a target="blank_" href="https://github.com/nephen/nephen.github.io/edit/master/{{ page.path }}" title="编辑本页"><span class="hide_pic1"></span>编辑本页 </a> </div>
    </div>
  </div>
</div>
<!-- 代码部分end -->
{% endif %}

{% include footer.html %}
